.favorites {
  padding: var(--padding-5xs);
  color: var(--color-white);
  text-align: left;
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  font-family: var(--font-roboto-condensed);
}
