.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.title {
  font-size: 1.875rem;
}

.button {
  width: 110px;
  height: 45px;
  padding: var(--padding-base);
  color: var(--color-white);
  text-decoration: none;
  font-size: var(-font-size-base);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--marvel-red);
  line-height: 1;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}
