.comics {
  padding: var(--padding-29xl);
  color: var(--color-black);
}

.comicsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: var(--padding-5xl) 0;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--marvel-red) var(--color-gainsboro);
  font-size: var(--font-size-base);
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}