.header {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 5.25rem;
  padding: var(--padding-base) var(--padding-29xl);

  @media (width <= 640px) {
    padding: var(--padding-base);
  }
}
