.searchBox {
  border-bottom: 1px solid var(--color-black);
  margin: 1rem 0 0.8rem;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  padding: 0 0.5rem;
  width: 100%;
  color: var(--light-gray);
  font-family: 'roboto condensed', sans-serif;
  font-size: 1rem;
}

.searchInput::placeholder {
  color: var(--light-gray);
}

.searchInput:focus {
  outline: none;
}
